body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #373737;
  margin: 0;

  background: rgba(0, 0, 0, 0.0001);
}
p {
  margin: 0px;
}
* {
  margin: 0;
  padding: 0;
}

/* HEADER */
.header {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 26px;
}
.header__inner {
  display: flex;
  flex-direction: row;
  justify-content: center;

  text-align: center;
}
.header-item {
  margin-left: 72px;
  transition: 0.2s linear;
  list-style-type: none;
  text-transform: uppercase;
}
.header-item:first-child {
  margin-left: 0;
}

.header-item:hover {
  transform: scale(1.2);
}
.header-list {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: #ff0000;
  transition: 0.2s linear;
}

.header-list:hover {
  color: #ec8703;
}

/*  SLIDER*/

.slider__block {

  width: 1280px;
  height: 790px;
  margin: 30px auto 50px auto;
  position: relative;
}
.slider {
  width: 1280px;
  height: 790px;
  overflow: hidden;
  border: 10px solid #fff;
}
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation {
  position: absolute;
  left: 50%;
  bottom: 16px;
  transform: translateX(-50%);
  display: flex;
}
.bar {
  height: 8px;
  width: 30px;
  margin: 6px;
  cursor: pointer;
  background-color: cadetblue;
  opacity: 0.7;
  border-radius: 10px;
  transition: all 0.4s ease;
}
.bar:hover {
  opacity: 1;
  transform: scale(1.1);
}
input[name="r"] {
  position: absolute;
  visibility: hidden;
}
.slides {
  width: 400%;
  height: 100%;
  display: flex;
}
.slide {
  width: 25%;
  transition: all 0.6s ease;
}
.slide img {
  width: 100%;
  height: 100%;
}
#r1:checked ~ .s1 {
  margin-left: 0;
}
#r2:checked ~ .s1 {
  margin-left: -25%;
}
#r3:checked ~ .s1 {
  margin-left: -50%;
}
#r4:checked ~ .s1 {
  margin-left: -75%;
}

/* main */

.main {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.main p {
  padding-bottom: 28px;
}
.main__inner {
  width: 100%;
  max-width: 1145px;
  text-align: center;
  margin: 0 auto;
}
.img:hover {
  transition: 2s linear;
  transform: scale(0.5, 0.5);
}
.title {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 38px;
  transition: 2s linear;
  text-transform: uppercase;
}
.title:hover {
  transform: rotateY(360deg);
}
.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.8px;
  color: #fff;
  text-transform: uppercase;
  padding: 18px 43px;
  background: #ff0000;
  transition: 0.2s linear;
  border: 0;
  border-radius: 4px;
  border-color: #fff;

  cursor: pointer;
}

.btn:focus,
.btn:hover {
  background: tomato;
  transform: scale(1.2);
}

/* footer */
.footer {
  width: 100%;
  max-width: 1280px;

  margin: 0 auto;
}
.footer p {
  font-weight: bold;
  font-size: 16px;
  text-align: right;
  line-height: 19px;
  letter-spacing: 3px;
  padding-top: 80px;
  padding-bottom: 30px;
  padding-right: 80px;
}
